<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon name="apps"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light" (click)="upload()">
				<ion-icon color="primary" name="add"></ion-icon>
        <input type="file" id="fileupload" style="display:none" (change)="receivedfile($event)">
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="../../assets/avatar.png">
    </ion-avatar>
			<ion-label>
				<p>Hello,</p>
				<h3>Issa Kalonji</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="../../assets/ipfsHex.png">
            </div>
            <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">IPFS Mobile</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="container">

    <h2>Last File</h2>

    <ion-item lines="none" *ngFor="let file of files">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>{{file}}</h4>
							<h6>IPFS/Docs</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear" (click)="download('File downloading...', 'File successfully downloaded.')">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
 </div>

</ion-content>